<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gramescu Weather</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  {{>header}}
  <p id="description">
    <span class="outline">Fast</span> and
    <span class="outline">easy</span> to use forecast
  </p>

  <form>
    <input type="text" placeholder="location">
    <button>Search</button>
  </form>

  {{>footer}}
  <script src="/js/app.js"></script>
</body>


</html>